<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
	{% block head %}
		<title>{% if header.title %}{{ header.title|e('html') }}|{% endif %}{{ site.title|e('html') }}</title>
		<meta charset="utf-8" />
		{% include 'partials/metadata.html.twig' %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="icon" type="image/png" href="{{ theme_url }}/images/favicon.png" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	{% block stylesheets %}
		{% do assets.addCss('theme://css/main.css') %}
		{% do assets.addCss('theme://css/menu.css') %}
	{% endblock %}
	{{ assets.css() }}
	{% endblock head%}
</head>
<body class="{{ page.header.body_class }}">
	{% block header_navigation %}
		{% include 'partials/navigation.html.twig' %}
	{% endblock %}
	{% block body %}
		{% block content %}{% endblock %}
	{% endblock %}
	{% block footer %}
		{% include 'partials/footer.html.twig' %}
	{% endblock %}

	{% block javascripts %}
		{% do assets.add('jquery',101) %}
		{% do assets.addJs('theme://js/jquery.dropotron.min.js') %}
		{% do assets.addJs('theme://js/jquery.scrolly.min.js') %}
		{% do assets.addJs('theme://js/jquery.scrollgress.min.js') %}
		{% do assets.addJs('theme://js/skel.min.js') %}
		{% do assets.addJs('theme://js/util.js') %}
		{% do assets.addJs('theme://js/totop/main.js') %}
		{% do assets.addJs('theme://js/totop/modernizr.js') %}
		{% do assets.addJs('theme://js/menu/bootstrap.min.js') %}
		{% do assets.addJs('theme://js/menu/jquery.easing.min.js') %}
		{% do assets.addJs('theme://js/menu/classie.js') %}
		{% do assets.addJs('theme://js/menu/cbpAnimatedHeader.js') %}
		{% do assets.addJs('theme://js/menu/agency.js') %}
		{% do assets.addJs('theme://js/main.js') %}
	{% endblock %}
	{{ assets.js() }}
</body>
</html>
